@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poiret+One&display=swap');

.container-logo{
  display: flex;
  justify-content: flex-start;
}

.image-container{
margin: 0 10px;
}

.image-logo{
  width: 3rem;
  height: 3rem;
}

.tittle-logo{
  font-family:"Lobster", sans-serif;
  font-size: 2.5rem;
  line-height: 1;
}

.sectittle-logo{
font-family:"Poiret One", sans-serif;
font-size: 0.8rem;
margin-top: 0;
text-align: center;
}