.container-detail{
  margin-left: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #5fc7ff;
  color: #ffffff;
  padding: 4rem 0;
}

.datail-image img{ 
  border-radius: 15px;
}

.name-health {
  display: flex;
  justify-content: space-between;
}

.name{
  color: #000;
  font-size: 1.2rem;
  border-bottom: solid #000;
  margin: 3rem;
}

.health{
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.health p {
  text-align: center;
  color: #000;

}

.health img{
  align-self: center;
  width: 2rem;
  height: 2rem;
}

.diets-detail{
align-self: flex-start;
padding: 3rem;
display:flex;
font-size: 20px;
font-weight: bold;
color: #000;
}

.lista{
  display: flex;
  list-style: none;
  margin:0 5px;
  border: none;
}

.lista li{
  background-color: #ffffff;
  color: #000;
  margin: 0 5px;
  border:solid 2px #000;
  border-radius: 10px;
  padding: 5px;
}

.info-detail{
  display: flex;
  padding: 0 2rem;
  justify-content: space-between;
}

.info-summary, .info-instructions{
  background-color: #ffffff;
  border-radius: 15px;
  width: 45%;
  color: #000;
  padding: 2rem;
  border: solid 2px #000;
 
}

.info-summary h2, .info-instructions h2{
  font-size: 1.7rem;
  color: #000;
  margin: 2rem;
  border-bottom:solid #000;
}

.btn-delete{
  align-self: flex-start;
  border-radius: 10px;
  border: solid 2px #000;
  margin: 0 4rem;
  padding: 0.5rem 1.5rem;
 background-color: #ffffff;
}

.btn-delete:hover{
  background-color: #8c3961;
}
