.notfound{
  margin-left: 20rem;
  height: 100%;
  background-color: #5fc7ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 13rem;
}

.notfound img{
  width: 20rem;
  border-radius: 15px;
  border: solid #000;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}